@charset "utf-8";
* {
  margin: 0;
  padding: 0;
  font-family: "Sarabun", sans-serif;
}

/* Header Style */

/* Logo */
.logo {
  align-items: center;
  font-weight: bolder;
  font-size: large;
}
.logo-img {
  width: 50px;
}

/* Navigation bar*/
.navbar-brand {
  font-size: 2rem;
}
.navbar {
  width: screenwidth;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding-bottom: 15px;
  background-color: #f6eabe;
}
.navbar li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
.navbar li a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.25rem;
}
.navbar li::after {
  content: "";
  height: 3px;
  width: 0;
  background: #98ddca;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}
.navbar li:hover:after {
  width: 100%;
}

/* Style for body Product detail */

/* Product Name */
.Pname h4 {
  text-align: center;
  margin: auto;
  padding-bottom: 40px;
  font-size: 2rem;
  font-weight: bolder;
}

.container {
  margin-top: 40px;
}

/* Style for text */
.newarrival {
  background: green;
  width: 50px;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
}

.col-md-5 {
  align-items: center;
  margin-top: 50px;
}

.col-md-7 {
  color: #555;
  text-align: center;
  padding-bottom: 20px;
}

.price {
  color: #fe980f;
  font-size: 26px;
  font-weight: bolder;
  padding-top: 20px;
}

.col-md-7 input {
  border: 1px solid #ccc;
  font-weight: bolder;
  height: 33px;
  text-align: center;
  width: 30px;
}

.col-md-7 button {
  background: #fe980f;
  color: #ffffff;
  font-size: 15px;
  margin-left: 20px;
}

/* Product Information */
.Pinfo {
  padding-top: 30px;
  text-align: center;
}

.Pinfo h4 {
  font-weight: bolder;
}

.Pinfo p {
  margin-left: 200px;
  margin-right: 200px;
  padding-bottom: 20px;
}

/* Button */
.containers {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  margin: auto;
  padding-bottom: 20px;
}

.btn-4 {
  letter-spacing: 5px;
  width: 100px;
  height: 30px;
  border: none;
  color: black;
  background-color: #ffb344;
  border-radius: 4px;
  box-shadow: inset 0 0 0 0 #e05d5d;
  transition: ease-out 0.3s;
  font-weight: bolder;
  outline: none;
}

.btn-5 {
  letter-spacing: 5px;
  width: 100px;
  height: 30px;
  border: none;
  color: black;
  background-color: #ffb344;
  border-radius: 4px;
  box-shadow: inset 0 0 0 0 #e05d5d;
  transition: ease-out 0.3s;
  font-weight: bolder;
  outline: none;
}

/* Style site-footer*/
.site-footer {
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer-text {
  padding-bottom: 0px;
  text-align: center;
  font-size: 1.8rem;
  font-weight: bolder;
  color: #868686;
}

/* Social Media Icon */
.icon {
  display: flex;
  justify-content: center;
  margin: auto 25%;
  align-items: center;
  padding-bottom: 30px;
}
.icon li {
  display: inline-block;
  width: 80px;
  height: 80px;
  background-color: #eee;
  margin: auto;
  box-shadow: 3px 3px 10px #aeaeae, -4px -4px 10px white;
  text-align: center;
  line-height: 60px;
  font-size: 50px;
  color: #333;
  cursor: pointer;
  transition: 1s;
  border-radius: 10px;
}
.icon li:nth-child(1):hover {
  color: #eee;
  border-radius: 50%;
  background-color: #b5deff;
}
.icon li:nth-child(2):hover {
  color: #eee;
  border-radius: 50%;
  background-color: #ffbcbc;
}
.icon li:nth-child(3):hover {
  color: #eee;
  border-radius: 50%;
  background-color: #b5eaea;
}
.icon li:nth-child(4):hover {
  color: #eee;
  border-radius: 50%;
  background-color: #cab8ff;
}

/* The whole for email part*/
.form {
  width: 55%;
  position: relative;
  height: 68px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  margin: auto;
  overflow: hidden;
}
.form input {
  width: 100%;
  height: 100%;
  columns: #595f6e;
  padding-top: 20px;
  border: none;
  outline: none;
}
.form label {
  color: #868686;
  font-weight: bolder;
  position: absolute;
  bottom: 0px;
  left: 0%;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.form label::after {
  content: "";
  position: absolute;
  left: -1px;
  bottom: 0px;
  height: 100%;
  width: 100%;
  border-bottom: 3.5px solid #5fa8d3;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}
.content-email {
  position: absolute;
  bottom: 5px;
  left: 0px;
  transition: all 0.3s ease;
}
.form input:focus + .label-email .content-email,
.form input:valid + .label-email .content-email {
  transform: translateY(-150%);
  font-size: 14px;
  color: #5fa8d3;
}
.form input:focus + .label-email::after,
.form input:valid + .label-email::after {
  transform: translateX(0%);
}

/* Join Button*/
.btn-3 {
  letter-spacing: 3px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  font-weight: bolder;
  width: 100px;
  height: 40px;
  border: none;
  color: black;
  background-color: #a6dcef;
  border-radius: 5px;
  transition: ease-out 0.3s;
  font-size: 1.3rem;
  outline: none;
  margin: auto;
}
.btn-3:hover {
  box-shadow: inset 200px 0 0 0 #82c4c3;
  cursor: pointer;
  color: white;
}
.contact-text {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bolder;
  color: #868686;
}
